<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/location.css" />
    <title>Cavu Cafe</title>
</head>
<body>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 47.5368, lng: -122.3039 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 15,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
    <div class="container">
        <div class="row justify-content-center">
            <h2>Location</h2>
            <div class="col">
                <div id="map">
                    <script async
                        src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.apiKey&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>7277 Perimeter Rd S</h3>
            <h3>Seattle, WA 98108</h3>
            <br>
            <h4 style="margin-top: 30px;">Located inside the King County International Airport</h4>
        </div>
    </div>
</body>
</html>